[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Crashix
	email = xelnaga.hybrid@gmail.com
[init]
	defaultBranch = master
